@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  height: 100vh;
}

.add__btn{
  background:#f50057 !important;
  color: #fff !important;
  position: fixed !important;
  right: 20px;
  bottom: 40px;
}

#todo{
  width: 100%;
  font-family: 'Nunito sans' 'san-serif';
  outline: none;
  border: none;
  font-size: 1.3rem;
}






